.Profile .session-title {
  width: 100%;
  text-align: center;
  margin: 0.5rem;
  font-size: 1.25rem;
  font-size: 1.125rem;
}

.Profile .HalfInputFieldContainer {
  gap: 1rem;
  justify-content: space-between;
}

.Profile .HalfInputField {
  min-width: calc((100% - 1rem) / 2);
}

.Profile .HalfInputField ion-label {
  min-width: fit-content;
  /* min-width: 16ch; */
}

.ProfileCheckPage .description {
  width: auto;
  overflow: auto;
}
