.RequirementPage .demandoffer {
  /* max-width: 350px; */
  background-color: rgba(190, 190, 240, 0.477);
}

.RequirementPage .d {
  min-height: 250px;
  overflow: auto;
}

.RequirementPage .HalfInputFieldContainer {
  gap: 1rem;
  justify-content: space-between;
}
